body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;    
    color: #777777;    
}
.row{
    margin: 0;
}
#header{
    padding:15px;
    color: white;
    align-self:center;
}
h1,h2,h3,h4{
  margin:0;  
}

#inputGroup{
    display:flex;
    justify-content:stretch;
    align-content: stretch;
    flex-wrap: wrap-reverse;
}
#searchPanel{
    padding: 10px 10px 0 10px;
    margin-bottom:0;
    background-color: rgb(242, 242, 242);
    flex-flow:column;
    flex:1 1 auto;
}
#inputGroup > *{
    
    margin-bottom: 5px;
}
#searches{
    
}
#searches button:not(:first-child){
    border-top:unset;
}
#searches button:first-child{
    border-radius: 4px 4px 0 0;
}
#searches button:last-child{
    border-radius: 0 0 4px 4px ;
}
.btn{
    color: #777777; 
}
.btnCitySearch{
    width:100%;
    display:block;
    font-size: 1.1em;
    border:1px solid #777777;
    border-radius:0;
    text-align:left;
    background-color: white;
}
#searchInput{
    flex:1;  
    border-radius: 4px;    
    border: 1px solid;
}
.searchBtn{
    margin-left: 5px;
    background-color: rgb(50, 99, 173);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}
.clearBtn{
    margin-left: 5px;
    background-color: rgb(189, 63, 63);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
#mainContent{
    margin-right:0;
    padding-right:0;
}
#currentWeather{
    margin:10px 0 10px 10px;
    padding: 20px 0 20px 20px;
    border: 1px solid #777777;
    border-right: unset;
    border-radius: 5px 0 0 5px;
}
.currentWeatherImg{
    height:75px; 
}

#UVIndex{
    display: inline;
    padding:5px;
    border: 1px solid;
    border-radius: 4px; 

}
#forecast > h3{
    padding-left: 10px;
}
#dayCardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    padding-right: 15px;
}
.dayCard{
    padding: 10px;
    background-color: lightblue;
    margin: 10px;
    border-radius:5px;
}
.dayCard > *{
    margin-bottom:10px; 
    display: block;
}
.dayCard > img{
    margin:-10px 0 0 0;
}